$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import "compass";
@import url('http://fonts.googleapis.com/css?family=Lato');

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {

    

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* Fonts */

@font-face {
  font-family: "BlackJackWebfont";
  src: url('../fonts/black_jack-webfont.eot');
  src: url('../fonts/ss-standard.eot?#iefix') format('eot'),
       url('../fonts/black_jack-webfont.woff') format('woff'),
       url('../fonts/black_jack-webfont.ttf')  format('truetype'),
       url('../fonts/black_jack-webfont.svg#BlackJackWebfont') format('svg');
}

/* Newer Styles */

.header {
    position: relative;
    display: inline-block;
    background: url(../images/header-bg.png) repeat-x rgb(97, 192, 231);
    height: 650px;
    width: 100%;
    @media only screen and (max-width : 400px) {
            height: 550px;
    }
      -webkit-transition: all .5s ease;
}

.logo {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.nav {
    display: inline-block;
    position: absolute;
    right: 10px;
    margin-top: 40px;
    cursor: pointer;
      -webkit-transition: all 1s ease;
}

.greeting {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: right;
    font-size: 70px;
    color: #fff;
    margin-top: 45px;
    font-family: 'BlackJackWebfont', Arial, sans-serif;
    @media only screen and (max-width : 400px) {
            font-size: 50px;
            text-align: center;
    }
      -webkit-transition: all .5s ease;
}

.header-info {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: right;
    font-size: 30px;
    color: #fff;
    @media only screen and (max-width : 400px) {
            font-size: 20px;
            text-align: center; 
    }
      -webkit-transition: all .5s ease;
}

.iphone {
    margin-top: 60px;
    margin-left: 60px;
    @media only screen and (max-width : 400px) {
            width: 30%;
            margin-left: 30px;
            margin-top: 30px;
    }
      -webkit-transition: all .5s ease;
}

.button {
    display: inline-block;
    right: 10px;
    font-size: 15px;
    margin-top: 50px;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    line-height: 60px;
    width: 150px;
    height: 60px;
    text-transform: uppercase;
    border-radius: 3px;
}

.download-btn-full {
    position: absolute;
    margin-top: 100px;
    cursor: pointer;
    @media only screen and (max-width : 400px) {
            margin-top: 175px;
            right: 20px;
    }
    &:hover {
        background: rgba(242, 242, 242, .4);
    }
    -webkit-transition: all 1s ease;
}

.icon {
    margin-left: 5px;
    margin-top: -3px;
}


.long-header {
    display: inline-block;
    position: relative;
    background: rgb(244, 244, 244);
    height: 650px;
    width: 100%;
    margin-top: -20px;
    @media only screen and (max-width : 400px) {
            height: 550px;
    }
      -webkit-transition: all .5s ease;
}

.long-header-container {
    width: 550px;
    color: rgb(102, 102, 102);
    @media only screen and (max-width : 400px) {
            width: 100%;
    }
      -webkit-transition: all .5s ease;
}

.content-header {
    display: inline-block;
    position: relative;
    margin-top: 160px;
    font-size: 35px;
    margin-bottom: 35px;
    @media only screen and (max-width : 400px) {
            margin-top: 50px;
    }
    @media only screen and (max-width : 768px) {
            margin-top: 90px;
    }
      -webkit-transition: all .5s ease;
}

.indent-box {
    background: rgb(78, 172, 221);
    height: 60px;
    width: 5px;
    display: inline-block;
    position: relative;
    margin-top: 25px;
    @media only screen and (max-width : 400px) {
            display: none;
    }
      -webkit-transition: all .5s ease;
}

.italic-text {
    width: 530px;
    position: relative;
    display: inline-block;
    font-style: italic;
    @media only screen and (max-width : 400px) {
            width: 100%;
    }
      -webkit-transition: all .5s ease;
}

.hello-btn {
    border: 2px solid rgb(20, 175, 143);
    color: rgb(20, 175, 143);
    cursor: pointer;
   
    &:hover {
        background: rgba(20, 175, 143, .4);
    }
    -webkit-transition: all 1s ease;
}

.ipad {
    position: absolute;
    right: -20px;
    display: inline-block;
    margin-top: -340px;
    @media only screen and (max-width : 400px) {
            width: 30%;
            right: 30px;
            margin-top: -150px;
    }

      -webkit-transition: all .5s ease;
}

.section-three {
    display: inline-block;
    position: relative;
    background: #fff;
    height: 650px;
    width: 100%;
    margin-top: -20px;
    @media only screen and (max-width : 400px) {
            height: 600px;
    }
      -webkit-transition: all .5s ease;
}

.three-content {
    width: 400px;
    position: absolute;
    right: 10px;
    margin-top: 100px;
    color: rgb(102, 102, 102);
    @media only screen and (max-width : 400px) {
            position: relative;
            width: 100%;
            margin-top: 75px;
    }
    @media only screen and (max-width : 768px) {
            left: 20px;
            margin-top: 75px;
    }
      -webkit-transition: all 1s ease;
}

.dribbble-btn {
    border: 2px solid rgb(234, 76, 137);
    color: rgb(234, 76, 137);
    width: 200px;
    cursor: pointer;
    @media only screen and (max-width : 400px) {
            text-align: center;
            right: -10px;
    }
    @media only screen and (max-width : 768px) {
            text-align: center;
    }
   
    &:hover {
        background: rgba(234, 76, 137, .3);
    }
    -webkit-transition: all 1s ease;
     
}

.center-dribble-btn {
    @media only screen and (max-width : 400px) {
            text-align: center;
            margin-top: -30px;
    }
      -webkit-transition: all .5s ease;
}

.device {
    position: absolute;
    left: 10px;
}

.imac {
    margin: 278px 0px 0px -30px;
    z-index: 1;
    @media only screen and (max-width : 400px) {
            margin: 370px 0px 0px 70px;
            width: 50%;
    }
      -webkit-transition: all .5s ease;
}

.ipad-large-small {
    margin: 434px 0px 0px 340px;
    z-index: 2;
    @media only screen and (max-width : 400px) {
            margin: 450px 0px 0px 183px;
            width: 23%;
    }
      -webkit-transition: all .5s ease;
}

.ipad-mini {
    margin: 505px 0px 0px 520px;
    z-index: 3;
    @media only screen and (max-width : 400px) {
            margin: 464px 0px 0px 249px;
            width: 18%;
    }
      -webkit-transition: all .5s ease;

}

.iphone-small {
    margin: 554px 0px 0px 475px;
    z-index: 4;
    @media only screen and (max-width : 400px) {
            margin: 485px 0px 0px 225px;
            width: 10%;
    }
      -webkit-transition: all .5s ease;
}

.macbook {
    margin: 472px 0px 0px -218px;
    z-index: 4;
    @media only screen and (max-width : 400px) {
            margin: 474px 0px 0px -5px;
            width: 45%;
    }
      -webkit-transition: all .5s ease;
}

.section-four {
    position: relative;
    display: inline-block;
    background: url(../images/teal-bg.png) repeat-x rgb(97, 192, 231);
    height: 325px;
    width: 100%;
    z-index: 5;
}

.section-four-header {
    width: 100%;
    text-align: center;
    color: #fff;
    margin-top: 100px;
    position: relative;
    display: inline-block;
}

.beer-btn-container {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.beer-btn {
    text-align: center;
    vertical-align: middle;
    border: 2px solid #fff;
    width: 200px;
    margin-top: 20px;
    cursor: pointer;
    &:hover {
        background: rgba(242, 242, 242, .5);
    }
    -webkit-transition: all 1s ease;
}

.section-five {
    display: inline-block;
    position: relative;
    background: rgb(244, 244, 244);
    height: 650px;
    width: 100%;
    @media only screen and (max-width : 400px) {
            height: 300px;
    }
      -webkit-transition: all .5s ease;
}

.social-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    display: inline-block;
}

.social {
    display: inline-block;
    position: relative;
    margin-top: 250px;
    margin-right: 25px;
    cursor: pointer;
    @media only screen and (max-width : 400px) {
            margin-top: 100px;
            width: 50px;
            margin-right: 5px;
    }
      -webkit-transition: all .5s ease;
}

.email-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    display: inline-block;
}

.email {
    position: relative;
    display: inline-block;
    margin-top: 15px;
    border: none;
    background: #fff;
    height: 35px;
}


/* Animation for Devices */ 

.device-animation-css:hover {
    -webkit-transform: rotate(20deg);
    -webkit-transition: all 1s ease;
}



